ul {
    list-style-type: none;
    margin: 0;
    padding: 10px 0;
    background-color: #343a40;
    height: 20px;
  }

li {
    display: inline;
    text-align: center;
    padding-left: 10px;
    color: white;
}

a {
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
    text-decoration: none;
    color: white;
}

.abt {
    display: inline-block;
    position: absolute;
    text-decoration: none;
    right: 10px;
}
