table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100px;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    width: 800px;
  }
  
  tr:nth-child(even) {
    background-color: #616b80;
    color: darkgrey;
  }