ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #000000;
    height: 58px;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    display: inline;
    text-align: center;
    color: white;
}

.rightElements:hover {
    height:18px;
    background-color:#383838;
    color: #c41c6a;
    cursor: pointer;
}

a {
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
    text-decoration: none;
    color: white;
}

/* https://unsplash.com/photos/CxBx_J3yp9g */
.bannerBg {
    background-image: url("../../style/twotonebg2.png");
    width: 100%;
    padding-bottom: 5px;
    height: 60px;
    position: fixed;
    top: 0;
}

.rightElements {
    text-decoration: none;
    float: right;
    height: 20px;
    padding: 20px;
}

.leftElements {
    text-decoration: none;
    float: left;
    height: 20px;
    padding: 20px;
}
